doctype html
html
    head
        meta(charset='utf-8')
        title Details for #{job.name}
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    body
        include header
        div(class='container')
            h1 Job "#{job.name}"
            h3 Progress: #{job.progress} (#{job.status.name})
            h3 Output File: #{job.outputPath}
            h3 Input Files:
            for inputFile,i in job.inputPaths
                h4 #{inputFile.path}
                for stat in inputStats[i]
                    p
                        span frame: #{stat.frame}
                        span fps: #{stat.fps}
                        span sizeInKb: #{stat.sizeInKb}
                        span time: #{stat.estimatedTimeLeft}
                        span bitrate: #{stat.bitrate}
                        span dropped frames: #{stat.droppedFrames}