doctype html
html
    head
        meta(charset='utf-8')
        title Details for #{job.name}
        include css
    body
        include mixinProgressbar
        include navbar
        div(class='container')
            h1 Job "#{job.name}"
                if job.status != 'CANCELED' && job.status != 'DONE'
                    a(href='/jobs/#{job.jobID}/cancel',class='btn btn-danger pull-right') Cancel
            +progress(percentComplete, job)

            table(class='table table-striped')
                thead
                    tr
                        th Status
                        th Start Time
                        th Elapsed Time
                        th Logs
                        th % Complete
                tbody
                    tr
                        td
                            if job.status == 'DONE'
                                span(class="label label-success") #{job.status.name} &nbsp;
                                    i(class="fa fa-check")
                            else if job.status == 'CANCELED'
                                span(class="label label-danger") #{job.status.name} &nbsp;
                                    i(class="fa fa-times")
                            else
                                #{job.status.name}
                        td #{job.formattedStartTime()}
                        td #{job.formattedElapsedTime()}
                        td
                            a(href="/logs/#{job.jobID}",target="_window") Logs
                        td #{percentComplete}%
            table(class='table table-striped')
                thead
                    tr
                        th Output File
                        th Trim Beginning
                        th Trim End
                        th Encoding Status
                        th Time Left
                        th Bitrate
                        th FPS
                tbody
                    tr
                        td
                            code #{job.outputPath.path}
                        td #{job.formatStartTrim()}
                        td #{job.formatEndTrim()}
                        td #{job.outputPath.encodingStatus}
                        td #{outputStats.estimatedTimeLeft}
                        td #{outputStats.bitrate}
                        td #{outputStats.fps}
            h3 Input Files:
            table(class='table table-striped')
                thead
                    tr
                        th Input File
                        th Duration
                        th Bitrate
                tbody
                for inputFile,i in job.inputPaths
                    tr
                        td
                            code #{inputFile.path}
                        td
                            #{inputFile.formattedDuration()}
                        td
                            #{inputFile.stats.bitrate} kbits/s