doctype html
html
    head
        meta(charset='utf-8')
        title Details for #{job.name}
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    body
        include navbar
        div(class='container')
            h1 Job "#{job.name}"
                if job.status != 'CANCELED'
                    a(href='/jobs/#{job.jobID}/cancel',class='btn btn-danger pull-right') Cancel
            table(class='table table-striped')
                thead
                    tr
                        th Status
                        th Elapsed Time
                        th % Complete
                tbody
                    tr
                        td #{job.status.name}
                        td #{job.formattedElapsedTime()}
                        td #{job.percentComplete()}%
            table(class='table table-striped')
                thead
                    tr
                        th Output File
                        th Encoding Status
                        th Time Left
                        th Bitrate
                        th FPS
                tbody
                    tr
                        td
                            code #{job.outputPath.path}
                        td #{job.outputPath.encodingStatus}
                        td #{outputStats.estimatedTimeLeft}
                        td #{outputStats.bitrate}
                        td #{outputStats.fps}
            h3 Input Files:
            if job.goFast
                table(class='table table-striped')
                    thead
                        tr
                            th Input File
                    tbody
                    for inputFile,i in job.inputPaths
                        tr
                            td
                                code #{inputFile.path}
            else
                table(class='table table-striped')
                    thead
                        tr
                            th Input File
                            th Encoding Status
                            th Time Left
                            th Bitrate
                            th FPS
                    tbody
                    for inputFile,i in job.inputPaths
                        tr
                            td
                                code #{inputFile.path}
                            td #{inputFile.encodingStatus}
                            td #{inputStats[i].estimatedTimeLeft}
                            td #{inputStats[i].bitrate}
                            td #{inputStats[i].fps}