doctype html
html
    head
        meta(charset='utf-8')
        title Movie Server
        include css
    body
        include mixinProgressbar
        include navbar
        div(class='container')
            if !jobs.length
                h2 Current Jobs
                table(class='table table-striped')
                    thead
                        tr
                            th Job Name
                            th Start Time
                            th Job Status
                            th Output File
                            th Progress
                    tbody
                        each job, i in jobs
                            tr
                                td
                                    a(href='jobs/#{job.jobID}') #{job.name}
                                td #{job.formattedStartTime()}
                                td #{job.outputPath.path}
                                td #{job.status.name}
                                td
                                    +progress(completionPercentages[i], job.status)

            h2 Create a new Job
            a(href='/browse') Browse the filesystem
